.example-spacer {
    flex: 1 1 auto;
  }

  .mar-but{
    margin-right: 10px;
  }

  .ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--dark-blue);
  }

  .li{
    float: left;
  }

  